.container {
    padding-top: 50px;
}

#game-board {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-gap: 8px;
  background-color: #942626;
  width: fit-content;
  padding: 8px;
  border-radius: 10px;
  margin: auto
}

#game-board > button:hover {
  background-color: #27ae60;
}

#game-board > button:active {
  background-color: #269455;
}

#game-board > button {
  border-width: 0px;
  height: 150px;
  border-radius: 2px;
  font-size: 75px;
  background-color: #2ecc71;
}

#markers {
  width: fit-content;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}

.centered {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  visibility: hidden;
}

#chatbox {
  border-width: 0px;
  background-color: transparent;
  height: 200px;
  margin-bottom: 5px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#chat-input {
  background-color: transparent;
  border-width: 2px;
  border-color: darkgray;
}

#status-container {
  background-color: white;
  width: 300px;
  padding: 10px;
  margin: auto;
  font-weight: bold;
  border-radius: 8px;
  color: #000000;
}

#reset {
  position: absolute; 
  right: 2px; 
  top: 7px;
  border-width: 0px;
  font-size: 30px;
  background-color: transparent;
}

.scroller::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.scroller::-webkit-scrollbar-track {
  background: transparent;
}
.scroller::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.35);
  visibility:hidden;
}
.scroller:hover::-webkit-scrollbar-thumb {
  visibility:visible;
}